/* Common */
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

a { text-decoration: none; }
section, input, main, a, label, div { box-sizing: border-box; }
section {
    display: flex;
    flex-wrap: wrap;
}

:root {
    --main-color: #0065FC;
    --secondary-color: #DEEBFF;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Stars */
.fa-solid {
    color: var(--main-color);
}
.neutral-star {
    color: var(--main-bg-color);
}

/* Title & Text & Link */
a, h1, h2, h3, p, input {
    color: #000;
    font-style: normal;
    line-height: normal;
}
.bold { font-weight: 700; }

/* Section Title */
h1, h2 { font-size: 2.2rem; }

/* Card Title */
h3 { font-size: 1.6rem; }

/* Default font style */
p, a { font-size: 1.6rem; font-weight: 400; }

/* Main container */
body {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

header img {
    height: 2rem;
    padding: 3rem 5rem;
}

header nav {
    display: flex;
    gap: 6.8rem;
    line-height: normal;
    height: 3.5rem;
    padding: 0 50px;
}

header nav a {
    border-top: #fff solid 2px;
    display: inline-block;
    padding-top: 1.5rem;
}

header nav a:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

/* Content */
main {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem 0 5rem;
    width: 100%;
    gap: 3.5rem;
}

/* Main Section */
#main {
    flex-direction: column;
    gap: 3.5rem;
}
/* Seach Bar */
.search-bar {
    display: flex;
}
.search-bar input {
    display: inline-block;
    font-size: 1.8rem;
}
.search-bar input[type=text] {
    border: 1px solid var(--main-bg-color);
    text-align: center;
    padding: 0 2.4rem;
    width: 20rem;
    outline: none;
}
.search-bar > input[type=submit] {
    border: 0.1rem var(--main-color);
    background-color: var(--main-color);
    padding: 1.5rem;
    color: #fff;
}
.search-bar > input[type=submit].btn-search {
    border-radius: 0 1.5rem 1.5rem 0;
}

/* Filtres */
.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.filter-item input {
    visibility: hidden;
    position: absolute;
}
.filter-item label {
    width: auto;
    user-select: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.7rem;
    padding: 1.5rem;
    border: 2px solid #D9D9D9;
    border-radius: 2.5rem;
}
.filter-item label i {
    padding-right: 1rem;
}
.filter-item input[type=checkbox]:checked~label {
    background-color: var(--main-color);
    color: #fff;
}
.filter-item input[type=checkbox]:checked~label > i {
    color: #fff;
}
.filter-item label:hover {
    background-color: var(--secondary-color);
}

/* Information */
.information {
    display: flex;
    align-items: center;
}
.information img {
    width: 2.4rem;
    height: 2.4rem;
}
.information p {
    padding-left: 1rem;
}

/* Div Hébergements */
.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}
.hebergements>section {
    background-color: var(--main-bg-color);
    border-radius: 1.5rem;
    padding: 3rem;
}
section > h2 { width: 100%; }
/* Section Hebergements à Marseille */
#hebergements {
    width: calc(65% - 2rem);
    gap: 3rem;
}
/* Cards */
.hebergement-card {
    width: calc((100% - 6rem) / 3);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.hebergement-card img {
    height: 124px;
    width: 100%;
    object-fit: cover;
}
.hebergement-card>h3, .hebergement-card>p, .hebergement-card>div {
    padding: 0 1.5rem;
}

/* Section Popular */
#popular {
    width: calc(35% - 2rem);
    padding: 3rem;
    gap: 2rem;
}
.popular-title {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    width: 100%;
}
.popular-card {
    width: 100%;
    height: 140px;
    display: flex;
}
.popular-card>div {
    width: 66%;
    padding: 1rem 0.5rem 0.5rem 1.5rem;
}
.popular-card img {
    width: 30%;
    height: 146px;
    object-fit: cover;
}
.popular-card .card-rating {
    padding: 0;
}

/* Cards Common */
.card {
    overflow: hidden;
    border-radius: 2rem;
    border: 5px solid #fff;
    background-color: #fff;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

/* Section Activity */
#activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}

.activity-card {
    display: block;
    overflow: hidden;
    width: calc((100% - 9rem) / 4);
    border-radius: 2rem;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.activity-card>img {
    height: 38rem;
    width: 100%;
    object-fit: cover;
}
.activity-card>h3 {
    padding: 2rem;
}

/* Footer */
footer {
    margin-top: 3.5rem;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}

footer div {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem
}

footer div a {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
}



/* Tablette */
@media (max-width: 1024px) {
    /* Filters */
    .title-filter {
        width: 100%;
    }
    .filter-item label {
        font-size: 1.6rem;
    }

    /* Section Popular */
    #popular {
        width: 100%;
    }
    .popular-card {
        max-width: calc((100% - 4rem) / 3);
    }

    /* Section Hebergements */
    #hebergements {
        width: 100%;
        max-width: none;
    }

    /* Section Activity */
    .activity-card>img {
        height: 20rem;
    }
}

/* Mobiles (-768px) */
@media (max-width: 767.98px) {
    /* Footer */
    footer {
        gap: 5rem;
        justify-content: start;
        padding: 3rem;

    }

    footer div {
        width: 100%;
        padding: 0;
    }

    /* Header */
    header {
        justify-content: center;
    }

    header nav {
        display: flex;
        height: 3.5rem;
        width: 100%;
        padding: 0;
        gap: 0;
    }

    header nav a {
        width: 50%;
        border-bottom: #fff solid 2px;
        border-top: none;
        display: inline-block;
        padding-top: 0;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    header nav a:hover {
        border-bottom: var(#fff) solid 2px;
        border-top: none;
    }

    /* Section Principale */
    #main {
        padding: 2rem;
    }
    /* Search Bar */
    .search-bar input[type=text] {
        width: 100%;
    }
    .search-bar > input[type=submit].btn-search {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: transparent;
        display: inline-block;
        position: relative;
        left: -1rem;
        border-radius: 1.5rem;
        height: 5.1rem;
        width: 5.1rem;
        background-image: url('/images/svg/magnifying-glass-solid.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    /* Filters */
    .filters {
        justify-content: center;
    }
    .filter-item {
        width: calc((100% - 1.5rem) / 2);
    }
    .filter-item label {
        width: 100%;
        font-size: 1.4rem;
    }

    /* Div Hebergements */
    .hebergements {
        flex-wrap: wrap-reverse;
        gap: 1.5rem;
    }

    /* Section Popular */
    #popular {
        border-radius: 0;
    }
    .popular-card {
        max-width: none;
    }

    /* Section Hebergements */
    #hebergements {
        background-color: #fff;
    }
    .hebergement-card {
        width: 100%;
    }

    /* Section Activity */
    .activity-card {
        width: 100%;
    }
    .activity-card>img {
        height: 14rem;
    }

    /* Padding General */
    main { padding: 0; }
}
